<div class="artwidth">
<div class="artmain">
<script type="text/javascript" src="img/module.js"></script>
<a name="add"></a>
<form action="mblog_reply.php"  method="post" name="laform" onsubmit="autocopy();">
{langreply13} {qrplus1}<input name="replyauthor" maxlength="20" size="20" type="text"  value="{arname}" {ifdisabled} /> &nbsp;
{qrplus2}
<br/>{langreply10} [<a href="profile.php?job=ubbhelp" target="_blank">{langreply12}</a>]<br/>
{ubbextension}
<textarea name="icontent" rows="7" cols="80" onkeydown="submitshc();" wrap="soft"></textarea>
{emots}
{validc} <br/>
<input type='checkbox' name='closeubbonce' value='1'/>{langreply17} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="isautocopy" checked="checked" value="1" type="checkbox" />{langreply14}<br/><input type="submit" value="{langreply15}" />  <input type='reset' value="{langreply16}" /><input type="hidden" name="action" value="doreply" /><input type="hidden" name="articleid" value="{articleid}" /></form>
<br/>
</div>
</div>
 