<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="UTF-8" />
<meta content="all" name="robots" />
<meta name="author" content="Bob Shen" />
<meta name="description" content="Created by Bo-Blog." />
<meta name="keywords" content="blog, Bo-Blog, 博客, 免费, PHP 文本程序" />
<link rel="stylesheet" rev="stylesheet" href="blog/template/bluetality/blue_chineseS.css" type="text/css" media="all" />
<script language="javascript" type="text/javascript" src="img/show.js">
</script>
<title>{blogname} - {blogdc}</title>
</head>

<body>
<div class="mainview">
<br/>
Error: <br/>
{info}
<br/>
<br/>
You'll be redirected to the previous page in 15 seconds.<br/><div align="right"><a href="javascript:history.back(1)">Back</a></div>
<br/>
</div>
</body>
</html>

