A:link{color:#E4CFFC;text-decoration: none;}
A:visited{color:#E4CFFC;text-decoration: none;}     
A:hover{color: #FF99CC; text-decoration: underline;}	 
body {  font-family: "ו"; font-size: 14px; color:#91C1F7; background-color: #000000;}.text {  font-size: 14px}
.toptic {  font: 20px "¥י"}
.toptic2 {  font: bold 19px "ו"}
