td{font-size:13px;}
.txt1{font-size:13px;}
.txt2{font-size:9pt;}
A:link{color:#E4CFFC;text-decoration: none;}
A:visited{color:#E4CFFC;text-decoration: none;}     
A:hover{color: #FF99CC; text-decoration: underline;}	 
body {  font-family: "ו"; font-size: 13px; color:#9AC7F8; background-color: #000000;.title {  font: bolder 16px "¬ו_GB2312"}
.title1 {  font: normal 14px "ו"}
