<style type="text/css" media="screen">
td{font-size:13px;}
.txt1{font-size:13px;; background:  url(../images/4.gif)}
.txt2{font-size:10pt;}
A:link{color:#E4CFFC;text-decoration: none;}
A:visited{color:#E4CFFC;text-decoration: none;; background: #000000 url(../images/4.gif)}     
A:hover{color: #FF99CC; text-decoration: underline;}	 
body {  font-family: "ו"; font-size: 13px; color:#BECEF3; background-color: #000000;
</style>