.stbtm { height: 20px; width: auto; clip: rect( ); background-color: #cccccc; 
font-size: 9pt; color: #000000; BORDER-BOTTOM: #665B8E 1px solid; BORDER-LEFT: 
#FFFFFF 1px solid; BORDER-RIGHT: #665B8E 1px solid; BORDER-TOP: #FFFFFF 1px solid} 
.stedit { BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: 
#000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9pt; border-color: 
#000000} TD { FONT-FAMILY: "ו"; FONT-SIZE: 9pt; color: #000000} BODY {FONT-FAMILY: 
"ו"; FONT-SIZE: 9pt; color: #000000} A:link {COLOR: #000000; TEXT-DECORATION: 
none} A:visited {COLOR: #000000; TEXT-DECORATION: none} A:hover {COLOR: #ff0000; 
text-decoration: underline}.stslt { height: 20px; width: auto; clip: rect( ); 
font-size: 9pt; color: #000000 } 