<style>
A:visited{color=#000000;TEXT-DECORATION: none} A:active{TEXT-DECORATION: none} 
A:hover{color:#ff0000;TEXT-DECORATION: underline overline} A:link{text-decoration: 
none;} .t{LINE-HEIGHT: 1.4} BODY{FONT-FAMILY: 宋体; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: 
buttonface; SCROLLBAR-SHADOW-COLOR: buttonface; SCROLLBAR-3DLIGHT-COLOR: buttonhighlight; 
SCROLLBAR-TRACK-COLOR: #eeeeee; SCROLLBAR-DARKSHADOW-COLOR: buttonshadow} TD{FONT-FAMILY: 
宋体; FONT-SIZE: 9pt} DIV{FONT-FAMILY: 宋体; FONT-SIZE: 9pt} FORM{FONT-FAMILY: 宋体; 
FONT-SIZE: 9pt} OPTION{FONT-FAMILY: 宋体; FONT-SIZE: 9pt} P{FONT-FAMILY: 宋体; FONT-SIZE: 
9pt} TD{FONT-FAMILY: 宋体; FONT-SIZE: 9pt} BR{FONT-FAMILY: 宋体; FONT-SIZE: 9pt} input 
{border-width: 1; border-color: #000000; font-family: 宋体; font-size: 9pt; font-style: 
bold;} textarea {border-width: 1; border-color: #000000; background-color: #efefef; 
font-family: 宋体; font-size: 9pt; font-style: bold;} select {border-width: 1; border-color: 
#000000; background-color: #efefef; font-family: 宋体; font-size: 9pt; font-style: 
bold;}
</style> 