.txt1{font-size:14px;}
.txt2{font-size:9pt;}
A:link{color:#A07EA9;text-decoration: none;}
A:visited{color:#A07EA9;text-decoration: none;}     
A:hover{color: #D9B3D1; text-decoration: none;}
td {font-size: 13px;}	 
body {  font-family: "ו"; font-size: 13px; color:#9BA2CA; background-color: #000000;
scrollbar-face-color:#666666;
scrollbar-highlight-color:#999999;
scrollbar-3dlight-color:#CCCCCC;
scrollbar-darkshadow-color:#000000;
scrollbar-chadow-color:#696969;
scrollbar-arrow-color:#CCCCFF;
scrollbar-track-color:#333333;}
