<div class="entry">
<div class="date">{previousandnext}</div>
<span class="title">{articlename}</span><br>
<span class="date">{articletime}&nbsp;&nbsp;[{thiscat}]</span><br>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td valign="top">{article}<br>{seereply}</td>
	</tr>
</table>
<br/>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr valign="top">
		<td width="85"><img src="img/pl.gif" alt="Permanant URI"/></td><td>{permanantshow}</td>
	</tr>
	<tr valign="top">
		<td width="85"><img src="img/tb.gif" alt="Trackback URI"/></td><td>{tblinkshow}</td>
	</tr>
</table>
<br/><div class=posted align="right">Posted by {owner} | {reurl} {trackback} {articleviews} {editurl} {delurl} {noreplyurl} {stickinfo}</div>
</div>
