<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="robots" content="all">
<title>.::{blogname} - {articletitle}{blogdc}::.</title>
<meta name="keywords" content="donge, donge.org, 东冬">
<meta name="description" content="Totti 2# template for bo-blog 1.6">
<meta name="author" content="Totti">
<base href="{weburl}">
<link rel="alternate" title="Bo-Blog RSS" href="mflb.php" type="application/rss+xml">
<link rel="stylesheet" type="text/css" href="blog/template/totti2/totti2.css">
<link rel="stylesheet" type="text/css" href="img/span.css">
</HEAD>
<BODY class=bgbodygray topMargin=0 marginwidth="10" marginheight="0">
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="760" height="61">
      <TABLE cellSpacing=0 cellPadding=0 width=760 border=0>
        <TBODY>
          <TR>
            <TD style="BORDER-RIGHT: #989fa7 1px solid" width=507 bgColor=#4a4a4a><a href="http://donge.org" target="_blank"><img src="blog/template/totti2/top.png" width="505" height="58" border="0" align="middle"></a><BR></TD>
            <TD vAlign=top width=253 bgColor=#3d4043><div align="right"><a href="http://www.bo-blog.com" target="_blank"><img src="blog/template/totti2/blog.jpg" width="74" height="22" border="0"></a><BR>
            </div></TD>
          </TR>
        </TBODY>
    </TABLE></td>
  </tr>
  <tr>
    <td height="22" valign="top" bgcolor="#3D4043"><div align="right" class="topmenu">{catnav}</div></td>
  </tr>
</table>
<TABLE width=760 border=0 align="center" cellPadding=0 cellSpacing=0 class=bgroyalblue>
  <TBODY>
    <TR>
      <TD height=38 vAlign=center bgcolor="#0066cc" class=bigwhitetext><span class="style1">&nbsp;</span><span class="topmenu">&nbsp;<B class="maxbox2">欢迎光临{blogname}</B></span> </TD>
    </TR>
  </TBODY>
</TABLE>
 <TABLE width=760 border=0 align="center" cellPadding=0 cellSpacing=0 class=bglightblue>
  <TBODY>
    <TR>
      <TD width=506 vAlign=top bgcolor="#FFFFFF" class=bgwhite><TABLE height="176" border=0 cellPadding=0 cellSpacing=10 bgcolor="#FFFFFF">
          <TBODY>
            <tr>
              <td width="487" class="content2">{mainbodyout}</td>
            </tr>
          </TBODY>
      </TABLE></TD>
      <TD class=bglinegrayblue><IMG height=1 src="totti1.files/spacer.gif" width=1 border=0><BR></TD>
      <TD width=253 vAlign=top bgcolor="#c6e2fd" class=bglightblue><TABLE border=0 align="center" cellPadding=0 cellSpacing=10>
          <TBODY>
            <TR>
              <TD><DIV class=sidetitle>{langindex14}</DIV>
                  <DIV class=side>{announcebar}
                      <hr>
                      <span class="sidetitle">{langindex15}</span></DIV>
                  <DIV class=side>站长：<a href="profile.php" target="_blank"><span class="posted">{owner}</span></a><br>
                  {langindex0}{articlenum}<br/>
                  {langindex1}{reply}<br/>
                  {langindex2}{visitorcounter} {stat}<br/>
                  {langindex3}{todayvisit}<br/>
                  {regusers}<br>
                  {currentonline}
                  <hr>
                  <span class="sidetitle">{langindex4}</span></DIV>
                  <DIV class=side>{calendar}
                      <hr>
                  </DIV>
                  <DIV class=sidetitle>{langindex5}</DIV>
                  <DIV class=side>{allnew}
                      <hr>
                  </DIV>
                  <DIV class=sidetitle>{langindex6}</DIV>
                  <DIV class=side>{newreply}
                    <hr>
                    <span class="sidetitle">{langindex16}</span><br>
                    {tbshow}<br>                      
                    <hr>
                </DIV>
                  <DIV class=sidetitle>{langindex7}</DIV>
                  <DIV class=side>
                    <form action="blog.php" method="post">
                      <input type="hidden" value="showsearch" name="job" />
                      <input onclick="this.value=''" size="15" value="{langindex8}" name="keywords" />
                      <input name="submit" type="submit" value="{langindex9}"/>
                      <a href="blog.php?job=showsearch&amp;mode=advance">{langindex10}</a>
                    </form>
                    <hr>
                  </DIV>
                  <DIV class=sidetitle>{langindex13}</DIV>
                  <DIV class=side>{archives}
                      <hr>
                  </DIV>
                  <DIV class=sidetitle>{langindex12}</DIV>
                  <DIV class=side>{links}
                      <hr>
                  </DIV>
                  <DIV class=sidetitle>{langindex11}</DIV>
                  <DIV class=side>{xml}<br>
                  {xml2}<br>
                  {xml3}<br>
                  {encodeinfo}<br>
                  <a href="http://www.creativecommons.cn/licenses/by-nc-sa/1.0/" target="_blank"><img src="img/cc.png" alt="Creative Commons" border="0" /></a><br>
                  <a href="http://www.bo-blog.com" target="_blank"><img src="img/boblog.png" alt="{versioninfo}" border="0" /></a></DIV>
                  <BR></TD>
            </TR>
          </TBODY>
      </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
 <table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
   <!--DWLayoutTable-->
   <tr>
     <td width="760" height="50" bgcolor="#4C4A4E"><div align="right"><br>
           <span class="entry"><span class="date"><span class="side">Copyright © 2004 {blogname} . All rights reserved <br>
         <span class="footer"> {versioninfo}</span> | Template by <a href="http://www.ittot.com" target="_blank">Totti</a> | <strong><a href="mblog_edit.php?action=write">Post </a></strong> | <strong><a href="admin.php" target="_blank">Admin</a></strong></span></span></span></div></td>
   </tr>
 </table>
</BODY></HTML> 








