BODY {
	FONT-SIZE: 12px; FONT-FAMILY: "MS Shell DLG",  "宋体"
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: "MS Shell DLG", "宋体"
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: "MS Shell DLG", "宋体"
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; 
}
.p14 {
	FONT-SIZE: 12px; FONT-FAMILY: "MS Shell DLG", "宋体"
}
.wht {
	COLOR: #ffffff
}
.wht A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.wht A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.wht A:hover {
	COLOR: #cccccc; TEXT-DECORATION: none
}
.fontshadow {
	FILTER: dropshadow(color=#FFFFFF,offx=1,offy=1); WIDTH: 100%
}
A:visited {
	COLOR: #00FF00; TEXT-DECORATION: none
}
A:link {
	COLOR: #00FF00; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0099ff; TEXT-DECORATION: none
}
SELECT {
	FONT-SIZE: 12px
}
