body { 
	font-size: 12px; 
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px; 
	margin-left: 0px; 
	padding-top: 0px; 
	padding-right: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px; 
	border-color:#808080 #FFFFFF #FFFFFF #808080; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
	CURSOR: default;
	scrollbar-highlight-color: buttonface; 
	scrollbar-shadow-color: buttonface; 
	scrollbar-3dlight-color: buttonhighlight; 
	scrollbar-track-color: #eeeeee;
	scrollbar-darkshadow-color: buttonshadow;
}

table {
	word-break:break-all;
}

.borderon { 
	font-size: 12px; 
	border-color: #FFFFFF #808080 #808080 #FFFFFF; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	background-color: #D4D0C8;
}

.borderon1 { 
	font-size: 12px; 
	border-color: #FFFFFF #808080 #808080 #FFFFFF; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	background-color: menu;
}

.b1 { 
	font-size: 12px; 
	border-color: #FFFFFF #808080 #808080 #FFFFFF; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	background-color: menu;
}

.b2 { 
	font-size: 12px; 
	border-color: threedhighlight threedshadow threedshadow threedhighlight; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 2px; 
	border-bottom-width: 2px; 
	border-left-width: 1px; 
	background-color: menu;
}

.b3 { 
	font-size: 12px; 
	border-color: threedhighlight threedshadow threedshadow threedhighlight; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 2px; 
	border-bottom-width: 0px; 
	border-left-width: 1px; 
	background-color: menu;
	cursor:default;
}

.b4 { 
	font-size: 12px; 
	border-color: threedhighlight threedshadow threedhighlight threedhighlight; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 1px; 
	border-left-width: 0px; 
	background-color: menu; 
	cursor:hand;
}

.buttont { 
	border:1px solid #9999CC; 
	behavior:url(/oa/inc/test1.htc);
}

td {  
font-size: 12px
}

.menu { 
	border:0px solid #FFFFFF; 
	height:20px; 
	padding-top:3px; 
	padding-left:3px; 
	behavior:url(/oa/inc/menu.htc); 
	cursor:default;
}
.child { 
	 
	height:20px; 
	padding-top:3px; 
	padding-left:3px;
	display:none;
}

.shadow {
	filter: DropShadow(Color=#999999, OffX=2, OffY=2, Positive=1);	
	position:relative; 
	top:-1px; 
	left:-1px;
}

.borderall {  
	border: #000000; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px
}


.button1 {  
	background: menu; 
	border-bottom: #665b8e 1px solid; 
	border-left: #ffffff 1px solid; 
	border-right: #665b8e 1px solid; 
	border-top: #ffffff 1px solid; 
	color: #333333; 
	cursor: default; 
	font-family: "ו"; 
	font-size: 12px; 
	height: 19px; 
	padding-bottom: 1px; 
	padding-left: 1px; 
	padding-right: 1px; 
	padding-top: 1px;
}

.button2 {  
	background: menu; 
	border-bottom: #665b8e 1px solid; 
	border-left: #ffffff 1px solid; 
	border-right: #665b8e 1px solid; 
	border-top: #ffffff 1px solid; 
	color: #333333; 
	cursor: hand; 
	font-family: "ו"; 
	font-size: 12px; 
	height: 18px; 
	padding-bottom: 1px; 
	padding-left: 1px; 
	padding-right: 1px; 
	padding-top: 1px
}

.cal {
	font:12px;
	background-color:highlight;
	color:highlighttext;
	width:18px;
}

.txt {
	border-left: 1px solid #FFFFFF; 
	border-right: 1px solid #FFFFFF; 
	border-top: 1px solid #FFFFFF; 
	border-bottom:1px solid #000000; 
	font-size: 12px; 
	color: #000044;
	background:white; 
	font-weight: normal;
}

.button { 
	border:1px solid menu; 
	behavior: url(file:///C|/Documents%20and%20Settings/donge/Local%20Settings/Temporary%20Internet%20Files/Content.IE5/css/button.htc);
	cursor:default;
}

input { behavior: url(file:///C|/Documents%20and%20Settings/donge/Local%20Settings/Temporary%20Internet%20Files/Content.IE5/6H87EPUL/%27../css/input.htc%27); }

a {  
	color: #000000; 
	text-decoration: none;
	behavior: url(file:///C|/Documents%20and%20Settings/donge/Local%20Settings/Temporary%20Internet%20Files/Content.IE5/6H87EPUL/%27../css/link.htc%27);
}

a:hover {  
color: #000000;  
text-decoration: none;
}
.all {BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 0px solid; BORDER-LEFT: #999999 0px solid; BORDER-BOTTOM: #999999 1px solid}


.buttonxp {
	font-size: 12px;
	width: 80px;
	height: 20px;
	background-image: url(../images/but_bg.gif);
	border: none;
	padding-top: 3px;
}
.buttonxp1 {
	font-size: 12px;
	width: 60px;
	height: 20px;
	background-image: url(../images/but_bg1.gif);
	border: none;
	padding-top: 3px;
}
.buttonxp-o {
	font-size: 12px;
	width: 80px;
	height: 20px;
	background-image: url(../images/but_bg_o.gif);
	border: none;
	padding-top: 3px;
}
.buttonxp1-o {
	font-size: 12px;
	width: 60px;
	height: 20px;
	background-image: url(../images/but_bg1_o.gif);
	border: none;
	padding-top: 3px;
}